<div class="contato-page">
  <div class="contato-miolo">
    <h2>Entre em contato conosco</h2>
  </div>
  <footer class="contato-rodape">
    <div class="contato-item">
      <span class="icon"><i class="bi bi-envelope"></i></span>
      <h3>E-mail</h3>
      <p class="label">Tem alguma sugestão?</p>
      <p class="info"><strong>ajuda&#64;codebhub.com.br</strong></p>
    </div>
    <div class="contato-item">
      <span class="icon"><i class="bi bi-telephone"></i></span>
      <h3>Telefone</h3>
      <p class="label">Ligue quando precisar</p>
      <p class="info">0800 111 1234</p>
    </div>
    <div class="contato-item">
      <span class="icon"><i class="bi bi-chat"></i></span>
      <h3>Chat</h3>
      <p class="label">Precisa de ajuda?</p>
      <p class="info">Abra o chat</p>
    </div>
  </footer>
</div>
