<div class="chat-page">
  <div class="chat-conversa">
    <div class="chat-header">
      <h3>{{ meuEmail }} <span class="versus">-</span> {{ nomeOutroUsuario }}</h3>
      <button class="btn-padrao" (click)="openModal()" *ngIf="!topicoConcluido && !isMentor" [disabled]="topicoConcluido">
        Concluir chat
      </button>
    </div>

    <div *ngIf="topicoConcluido" class="mensagem-topico-concluido">
      Este chat foi concluído. Não é possível enviar novas mensagens.
    </div>

    <div class="chat-mensagens" #scrollContainer>
      <div *ngFor="let msg of mensagensFiltradas" [class.me]="msg.senderEmail === meuEmail" class="mensagem">
        <div class="mensagem-info">
          <strong>{{ msg.author }}</strong>
          <span class="horario">{{ msg.createdAt | date: 'HH:mm' }}</span>
        </div>
        <div class="mensagem-texto">{{ msg.text }}</div>
      </div>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="mensagemDigitada" (keyup.enter)="enviarMensagem()" placeholder="Digite sua mensagem..."
        [disabled]="topicoConcluido" />
      <button class="btn-padrao" (click)="enviarMensagem()" [disabled]="topicoConcluido">
        Enviar
      </button>
    </div>
  </div>
</div>
