<div *ngIf="paginatedTopicos.length <= 0" class="empty-message">
  <h3 *ngIf="searchTerm">
    Nenhum tópico encontrado para a busca realizada!
  </h3>
  <h3 *ngIf="!searchTerm && !isMentor && !somenteAtivos">
    Nenhum tópico criado ainda! Que tal criar um?
  </h3>
  <h3 *ngIf="!searchTerm && isMentor && !somenteAtivos">
    Nenhum tópico criado ainda!
  </h3>
  <h3 *ngIf="!searchTerm && somenteAtivos">
    Nenhum tópico foi concluído ainda!
  </h3>
  <button class="btn-criar-empty" (click)="onCriarTopico()" *ngIf="!isMentor && !somenteAtivos && !searchTerm">Criar Tópico</button>
</div>

<div class="container" *ngIf="paginatedTopicos.length > 0">
  <div class="topico-card" *ngFor="let topico of paginatedTopicos">
    <div class="topico-info">
      <h3>{{ topico.title }}</h3>
      <p>{{ topico.description }}</p>
      <p><strong>Linguagens:</strong> {{ topico.languages.join(', ') }}</p>
      <span class="autor">Autor: {{ topico.author }}</span>
    </div>
    <button
      class="btn-atender"
      *ngIf="isMentor && !somenteAtivos"
      (click)="atenderTopico(topico)">
      Atender tópicos
    </button>
    <button
      class="btn-atender"
      *ngIf="!isMentor && !somenteAtivos"
      (click)="abrirChat(topico)">
      Visualizar resposta
    </button>
    <button
      class="btn-atender"
      *ngIf="somenteAtivos"
      (click)="abrirChatConcluido(topico)">
      Visualizar resposta
    </button>
  </div>

  <div class="bottom-controls">
    <div class="pagination">
      <button (click)="changePage('prev')" [disabled]="currentPage === 0">Anterior</button>
      <button (click)="changePage('next')" [disabled]="(currentPage + 1) * itemsPerPage >= topicos.length">Próximo</button>
    </div>
    <button class="btn-criar" (click)="onCriarTopico()" *ngIf="!isMentor">Criar Tópico</button>
  </div>
</div>
