<div class="container">
  <header class="header">
    <img src="../../assets/img/logo.png" class="img mx-auto" alt="Logo CodeBeginnerHub" width="40" height="40">

    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Busque por tópicos">
    </div>
    <div class="icons">
      <button type="submit" class="btn full-width">
        <img src="assets/img/Sino.png" alt="Sino" width="20" height="20">
      </button>
      <button type="button" class="btn full-width" onclick="window.location.href='/perfil-usuario'">
        <img src="assets/img/Icon.png" alt="Icon" width="20" height="20">
      </button>
    </div>
  </header>

  <nav class="nav-bar">
    <a href="#" class="nav-item" [routerLink]="['/topicos']">Tópicos</a>
    <a href="#" class="nav-item" [routerLink]="['/topicos-concluidos']">Tópicos Concluídos</a>
    <a href="#" class="nav-item" [routerLink]="['/entre-em-contato']">Entre em contato</a>
  </nav>
</div>
